* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Archivo Narrow", sans-serif;
    background-color: #060a0e;
    overflow: hidden;
    color: #f0f0f0;
    font-size: 20px;
}

h1 {
    font-family: "Shadows Into Light", sans-serif;
    font-size: 50px;
    color: #F39595;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    color: #fff;
}

h2 {
    font-size: 2rem;
    line-height: 140%;
    color: #a975d1;
}

p{
    color: #ffffff;
    font-size: 16px;
    line-height: 120%;
}

span{
    font-size: 32px;
    line-height: 200%;
}

button {
    background-color: #F39595;
    border: none;
    color: #f0f0f0;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 24px; 
}

button:hover {
    background-color: #f36565;
    transform: scale(1.05);
}

hr{
    width: 100%;
    border-top: 1px solid #f36565;
}

#start-button {
    cursor: pointer;
    animation: moveButton 1s ease-in-out infinite;
}

#start-button{
    display: none;
}

#instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    width: 80%;
    margin: 60px;
    color: #fff;
}

.details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 40%;
}

.jump-content{
    display: flex;
    gap: 24px;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 16px;
    border: 1px solid #a975d1;
    border-radius: 10px;
}

.selected {
    background-color: #a975d1;
}


.container {
    display: flex;
    align-items: center;
    justify-content:space-around ;
}

#game-screen {
    position: relative;
    overflow: hidden;
}


.controls {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 10px;
}

.arrow {
    margin: 0 15px;
    font-size: 40px;
    color: #fff;
}


#lose-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    backdrop-filter: blur(5px);
    color: white;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #060a0e;
    border: 1px solid #a975d1;
    padding: 60px;
    gap: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
}

.text-content {
    flex: 1;
    margin-left: 20px;
}

.lose-image {
    width: 150px;
    height: auto;
}

#start-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #060a0e;
    background-image: url('../img/generalBackground.png');
    background-size: cover;
    background-position: bottom;
    z-index: 1000;
}

.start-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(78 19 138 / 90%); */
    padding: 30px;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 100%;
    color: #ffffff;
    animation: fadeIn 0.5s ease-in-out;
}

.start-button{
    line-height: 200%;
    margin: 0;
}

.game-logo {
    width: 250px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.start-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.start-text div {
    padding: 32px;
}

.loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, #a975d1, #F39595, #a975d1);
    background-size: 300%;
    border-radius: 5px;
    animation: loadingEffect 1.5s infinite;
    margin-bottom: 20px;
}

@keyframes loadingEffect {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}

.play-label {
    display: inline-block;
}

@keyframes moveButton {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}



#start-button:before {
    transform: scale(1.05);
}

#start-button:hover:before,
#start-button:hover:after {
    transform: scale(1.1);
}

.highlight {
    font-size: 24px;
    color: #F39595;
}